extends layout

block content
  .chart
    .node.diamond.x1.y1
      .shape
      .text Manuell/ Automat

    .node.diamond.x1.y2
      .shape
      .text Bränsle

    .node.info.x1.y3
      .shape
      .text Oljerapport?